project_id = "open-observability"

[api]
port = 54321
schemas = ["public"]

[db]
port = 54322

[studio]
port = 54323

[auth]
enabled = true
site_url = "http://localhost:3000"
additional_redirect_urls = []

[auth.email]
enable_signup = true
enable_confirmations = false
